<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>



<!-- <h1>Sign Up!</h1> -->
<!-- <h3>
<div class="signupform">
<%= form_for @user do |f| %>
  <%= f.label :Firstname %>
  <%= f.text_field :fname %><br><br>
  <%= f.label :Lastname %>
  <%= f.text_field :lname %><br><br>
  <%= f.label :City %>
  <%= f.text_field :city %><br><br>
  <%= f.label :State %>
  <%= f.text_field :state %><br><br>
  <%= f.label :Email %>
  <%= f.text_field :email %><br><br>
  <%= f.label :Username %>
  <%= f.text_field :username %><br><br>
  <%= f.label :Password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit 'Sign Up'%>
</h3>
<% end %> -->
<!-- </div> -->
   <body img src="/assets/signup.jpg">
<div>
<div class="container-fluid">
 
    <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Sign Up</h3>
        
        <div class="form-group col-lg-12">
          <label>First Name</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <label>Last Name</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
          <label>City</label>
          <input type="city" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
          <label>State</label>
          <input type="State" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
          <label>Email Address</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-6">
          <label>Repeat Email Address</label>
          <input type="" name="" class="form-control" id="" value="">
        </div> 

        <div class="form-group col-lg-12">
          <label>User Name</label>
          <input type="" name="" class="form-control" id="" value="">
        </div>     
        
        <div class="form-group col-lg-6">
          <label>Password</label>
          <input type="password" name="" class="form-control" id="" value="">
        </div>
        
        <div class="form-group col-lg-6">
          <label>Repeat Password</label>
          <input type="password" name="" class="form-control" id="" value="">
        </div>
        
        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Sign up for our newsletter
        </div><br>
      <br><br>
      <button type="submit" class="btn btn-primary">Register</button>

        </div>


   
</body>