


<!-- <h1>Sign Up!</h1> -->
<!-- <h3>
<div class="signupform">
<%= form_for @user do |f| %>
  <%= f.label :Firstname %>
  <%= f.text_field :fname %><br><br>
  <%= f.label :Lastname %>
  <%= f.text_field :lname %><br><br>
  <%= f.label :City %>
  <%= f.text_field :city %><br><br>
  <%= f.label :State %>
  <%= f.text_field :state %><br><br>
  <%= f.label :Email %>
  <%= f.text_field :email %><br><br>
  <%= f.label :Username %>
  <%= f.text_field :username %><br><br>
  <%= f.label :Password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit 'Sign Up'%>
</h3>
<% end %> -->
<!-- </div> -->

<div class="usersnew">
<div class="container-fluid">
 
    <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="s">Sign Up</h3>
        
        <div class="form-group col-lg-12">
          <h2 class="a"><label>First Name</label></h2>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <h2 class="a"><label>Last Name</label></h2>
          <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
          <h2 class="a"><label>City</label></h2>
          <input type="city" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-6">
          <h2 class="a"><label>State</label></h2>
          <input type="State" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-lg-12">
          <h2 class="a"><label>Email</label></h2>
          <input type="" name="" class="form-control" id="" value="">
        </div>
        
        

        <div class="form-group col-lg-12">
          <h2 class="a"><label>User Name</label></h2>
          <input type="" name="" class="form-control" id="" value="">
        </div>     
        
        <div class="form-group col-lg-6">
          <h2 class="a"><label>Password</label></h2>
          <input type="password" name="" class="form-control" id="" value="">
        </div>
        
        <!-- <div class="form-group col-lg-6">
          <h2 class="a"><label>Repeat Password</label></h2>
          <input type="password" name="" class="form-control" id="" value="">
        </div>
         -->
        
      <input type="submit" value="Sign up" class="btn btn-primary pull-right">

        </div>
        
  </div>
</div>

</div>
   
