<body class="signupbod">
  <nav id="supf">
    <ul>
    <li><%= link_to 'Home', root_path, style: 'color:#ffffff' %></li>
    <li><%=link_to 'About', about_path, style: 'color:#ffffff' %></li>
    <li><%= link_to 'Contact', contact_path, style: 'color:#ffffff' %></li>
    </ul>
  </nav>
<div id="signupform"><h2>Sign Up!</h2>
  <%= form_for @user do |f| %>
  <h2><%= f.label :"First Name" %><br>
  <%= f.text_field :fname %><br>
  <%= f.label :"Last Name" %><br>
  <%= f.text_field :lname %><br>
  <%= f.label :City %><br>
  <%= f.text_field :city %><br>
  <%= f.label :State %><br>
  <%= f.text_field :state %><br>
  <%= f.label :"Email Address"%><br>
  <%= f.text_field :email %><br>
  <%= f.label :Username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :Password %><br>
  <%= f.password_field :password %>
  <br>
  <%= f.submit 'Sign Up'%></h2>
<% end %>
</div>
</body>

