<h1>Welcome <%= @user.fname %></h1>

<div>
First Name:<%= @user.fname %>
Last Name:<%= @user.lname %>
City:<%= @user.city %>
State:<%= @user.state %>
Email:<%= @user.email %>
Username:<%= @user.username %>
</div>
<br><br>
<%= render 'layouts/usernavigation' %>