<body class="statichome">
	<%= render 'layouts/navigation' %>
	<h2><%= flash[:notice] if flash[:notice] %></h2>
  <div id="circle">
	<h2><%= link_to "Log In", login_path %></h2>
	<h1>Are You In Front Of The Camera?<br><br> <%=link_to "Sign Up", new_user_path %></h2>
  </div>


  <div id="circle2">
	<h2><%= link_to "Log In", login_path %></h2>
	<h1>Are You Behind The Camera?<br><br> <%=link_to "Sign Up", new_user_path %></h1>
  </div>
</body>