<!DOCTYPE html>
<html>
<head>
	
  <title>MovieGroupProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
	<h1 class="mid">
		<li><%= link_to 'Home', root_path %></li>
		<li><%=link_to 'About', about_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
	</h1>
</ul>
<%= yield %>

</body>
</html>
